{% extends 'base.html' %}

{% block title %}
Menu
{% endblock %}

{% block main %}
{% load static %}
<section class="py-0">
    <div class="bg-holder" style="background-image:url(static/img/illustrations/dot.png);background-position:left;background-size:auto;margin-top:-105px;">
    </div>
    <div class="container position-relative">
      <div class="row align-items-center">
        <div class="col-md-5 col-lg-6 order-md-1 pt-8"><img class="img-fluid" src="static/img/gallery/pizza.jpg" alt="" /></div>
        <div class="col-md-7 col-lg-6 text-center text-md-start pt-5 pt-md-9">
          <h1 class="mb-4 display-5 fw-bold">VOS Restaurant Assist<br class="d-block d-lg-none d-xl-block" />Food at your fingertips.</h1>
          <p class="mt-3 mb-4 fs-1">Order your favourite items without any hassle</p>
          <a class="btn btn-lg btn-primary rounded-pill hover-top" href="#" role="button">Shop Now</a>
        </div>
      </div>
    </div>
</section>
  <div class="container">
    <section class="section" id="specials">
        <div class="row mt-5 mb-4">
            <div class="col-md-12 div-color-2">
                <div class="divider-new">
                    <h2 class="text-center fw-bold font-bold mr-3 ml-3" data-wow-delay="0.2s">Our specials</h2>
                    <hr class="w-25 mx-auto text-dark" style="height:2px;" />
                </div>
        </div>
        <p class="grey-text text-center ml-3 mr-3 mt-1 mb-5">At vero eos et accusamus et iusto odio dignissimosducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique.</p>
            <div class="row text-center mr-2 ml-2 mt-3">
                <div class="col-lg-4 col-md-12 mb-r wow fadeIn" data-wow-delay="0.4s">
                    <div class="card card-cascade wider">
                        <div class="view overlay hm-zoom hm-white-slight">
                            <img src="https://mdbootstrap.com/img/Others/food6.jpg" class="img-fluid">
                            <a href="#!">
                                <div class="mask"></div>
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title"><strong>Breakfast</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s">
                    <div class="card card-cascade wider">
                        <div class="view overlay hm-zoom hm-white-slight">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                                class="img-fluid">
                            <a href="#!">
                                <div class="mask"></div>
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title"><strong>Lunch</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s">
                    <div class="card card-cascade wider">
                        <div class="view overlay hm-zoom hm-white-slight">
                            <img src="https://mdbootstrap.com/img/Others/food7.jpg" class="img-fluid">
                            <a href="#!">
                                <div class="mask"></div>
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title"><strong>Desserts</strong></h4>
                        </div>
                    </div>
                </div>
            </div>
    </section> 
    <div class="container-lg">
        <div class="row justify-content-center">
          <div class="col-3 text-center">
            <h2 class="fw-bold">Menu</h2>
            <hr class="w-25 mx-auto text-dark" style="height:2px;" />
          </div>
          <p class="grey-text text-center ml-3 mr-3 mt-1 mb-5">Select your order</p>
        </div>

        <div class="row justify-content-center h-100 pt-4 g-4">
          <div class="col-sm-9 col-md-4">
            <a href="#plate" class="menu-item-action text-decoration-none" data-item-id="item1">
              <div class="card h-100 w-100 shadow rounded-lg">
                <img class="card-img-top" src="{% static 'img/gallery/item-8.jpeg' %}" alt="" />
                <div class="card-body text-center text-md-start">
                <div class="py-3">
                  <h4 class="fw-bold card-title menu-item-name">American Classic <br><span class="menu-item-price">₹270</span></h4>
                  <p class="card-text grey-text">Shabby chic keffiyeh neutra snackwave pork belly shoreditch. Prism austin mlkshk truffaut,</p>
                </div>
              </div>
            </div>
            </a>


          </div>
          <div class="col-sm-9 col-md-4">
            <a href="#plate" class="menu-item-action text-decoration-none" data-item-id="item2">
              <div class="card h-100 w-100 shadow rounded-lg">
                <img class="card-img-top" src="{% static 'img/gallery/item-2.jpeg' %}" alt="" />
                <div class="card-body text-center text-md-start">
                <div class="py-3">
                  <h4 class="fw-bold card-title menu-item-name">Lunch for Double <br><span class="menu-item-price">₹300</span></h4>
                  <p class="card-text grey-text">franzen vegan pabst bicycle rights kickstarter pinterest meditation farm-to-table 90's pop-up</p>
                </div>
              </div>
            </div>
            </a>


          </div>
          <div class="col-sm-9 col-md-4">
            <a href="#plate" class="menu-item-action text-decoration-none" data-item-id="item3">
              <div class="card h-100 w-100 shadow rounded-lg">
                <img class="card-img-top" src="{% static 'img/gallery/item-7.jpeg' %}" alt="" />
                <div class="card-body text-center text-md-start">
                <div class="py-3">
                  <h4 class="fw-bold card-title menu-item-name" >Bacon Overflow <br><span class="menu-item-price">₹180</span></h4>
                  <p class="card-text grey-text">Portland chicharrones ethical edison bulb, palo santo craft beer chia heirloom iPhone everyday</p>
                </div>
              </div>
            </div>
            </a>


          </div>
          <div class="col-sm-9 col-md-4">
            <a href="#plate" class="menu-item-action text-decoration-none" data-item-id="item4">
              <div class="card h-100 w-100 shadow rounded-lg">
                <img class="card-img-top" src="{% static 'img/gallery/item-4.jpeg' %}" alt="" />

                <div class="card-body text-center text-md-start">
                <div class="py-3">
                  <h4 class="fw-bold card-title menu-item-name">Country Delight <br><span class="menu-item-price">₹250</span></h4>
                  <p class="card-text grey-text">Shabby chic keffiyeh neutra snackwave pork belly shoreditch. Prism austin mlkshk truffaut,</p>
                </div>

              </div>
            </div>
            </a>
          </div>
          <div class="col-sm-9 col-md-4">
            <a href="#plate" class="menu-item-action text-decoration-none" data-item-id="item5">
              <div class="card h-100 w-100 shadow rounded-lg">
                <img class="card-img-top" src="{% static 'img/gallery/item-9.jpeg' %}" alt="" />
                <div class="card-body text-center text-md-start">
                  <div class="py-3">
                    <h4 class="fw-bold card-title menu-item-name">Strawberry Burst <br><span class="menu-item-price">₹150</span></h4>
                    <p class="card-text grey-text" >franzen vegan pabst bicycle rights kickstarter pinterest meditation farm-to-table 90's pop-up </p>
                  </div>
                </div>
              </div>
            </a>


          </div>
          <div class="col-sm-9 col-md-4">
            <a href="#plate" class="menu-item-action text-decoration-none" data-item-id="item6">
              <div class="card h-100 w-100 shadow rounded-lg">
                <img class="card-img-top" src="{% static 'img/gallery/item-6.jpeg' %}" alt="" />
                <div class="card-body text-center text-md-start">
                  <div class="py-3">
                    <h4 class="fw-bold card-title menu-item-name">Oreo Dream <br><span class="menu-item-price">₹80</span></h4>
                    <p class="card-text grey-text">Portland chicharrones ethical edison bulb, palo santo craft beer chia heirloom iPhone everyday</p>
                  </div>
                  <!-- <div class="py-3">
                    <div class="row">
                      <div class="col-6">
                        <a class="btn btn-primary" href="#">Add to Cart</a>
                      </div>
                      <div class="col-6">
                        <btn class="btn btn-primary minus-btn" data-id="6"><i class="fa fa-minus"></i></btn>
                        <span class="border border-dark px-2 py-2 quantity" id="quantity-6">1</span>
                        <btn class="btn btn-primary plus-btn" data-id="6"><i class="fa fa-plus"></i></btn>
                      </div>
                    </div>
                  </div> -->
              </div>
            </div>
            </a>

          </div>
        </div>
    </div>
    <div class="container">
      <div class="col-md-6">
        <h2>Plate</h2>
        <div id="plate" class="list-group">
            <div class="list-group-item">No items in plate</div>
        </div>
        <div class="mt-3">
            <span>Total:</span>
            <span id="total-amount">₹0</span>
        </div>
        <button id="confirm-order-btn" class="btn btn-primary mt-3">Confirm Order</button>
    </div>
    </div>           
  <div class="modal fade" id="phone-number-modal" tabindex="-1" aria-labelledby="phoneNumberModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="phoneNumberModalLabel">Enter Phone Number</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p>Please enter your phone number:</p>
              <input type="text" class="form-control" id="phone-number-input">
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" id="phone-number-submit">Submit</button>
          </div>
      </div>
  </div>
</div>
</div>
{% endblock %}
{% block scriptBlock %}
<script>
  $(function () {
      var plate = {};

      // Add Item to the plate
      $('.menu-item-action').on('click', function (e) {
          e.preventDefault();
          var itemId = $(this).data('item-id');

          if (!plate[itemId]) {
              plate[itemId] = {
                  'name': $(this).find('.menu-item-name').text(),
                  'price': $(this).find('.menu-item-price').text().replace('₹', ''),
                  'quantity': 1
              };
          } else {
              plate[itemId]['quantity']++;
          }
          updatePlate();
      });

      // Remove Item
      $(document).on('click', '.remove-item-btn', function (e) {
          e.preventDefault();
          var itemId = $(this).data('item-id');
          if (plate[itemId]['quantity'] == 1) {
              delete plate[itemId];
          } else {
              plate[itemId]['quantity']--;
          }
          updatePlate();
      });

      // Update 
      function updatePlate() {
          var plateList = $('#plate');
          plateList.empty();
          var totalAmount = 0;
          for (var itemId in plate) {
              var item = plate[itemId];
              var listItem = $('<div class="list-group-item"></div>');
              //listItem.text(item['name'] + ' x ' + item['quantity']);
              var price = item['price'] * item['quantity'];
              listItem.text(item['name'] + ' x ' + item['quantity'] + ': ₹' + price);

              totalAmount += price;
              //listItem.append($('<span class="float-right">₹' + price + '</span>'));
              listItem.append($('<button class="btn btn-sm btn-danger float-right remove-item-btn mr-10" data-item-id="' + itemId + '">Remove</button>'));

              plateList.append(listItem);
          }
          if ($.isEmptyObject(plate)) {
              plateList.append($('<div class="list-group-item">No items in plate</div>'));
          }
          $('#total-amount').text('₹' + totalAmount);
          console.log(plate);
      }


      // Confirm order button click handler
      $('#confirm-order-btn').on('click', function (e) {
          e.preventDefault();
          // Check if plate is empty
          if ($.isEmptyObject(plate)) {
              alert('Please add items to your plate before confirming the order.');
              return;
          }
          // Show phone number input modal
          $('#phone-number-modal').modal('show');
      });
      
  });

</script>
{% endblock %}
